# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual environments
venv/

# VS Code
.vscode/

# Django
*.db
*.pot
*.pyc
*.pyo
*.pyd
*.py~
db.sqlite3

# OS
.DS_Store
Thumbs.db

# Env files
.env

# Migrations (optional)
**/migrations/*.pyc
**/migrations/__pycache__/
